<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark p-0">
    <a class="navbar-brand" href="#">
        <svg class="logo" height="46" width="75" ><use xlink:href="{{ asset('logo.svg#symbol')}}"></svg>
    </a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form class="form-inline mt-2 mt-md-0 mr-auto navbar-search">
        <button class="btn btn-link my-2 my-sm-0" type="submit">
          <i class="material-icons">search</i>
        </button>
        <input  class="form-control mr-sm-2 nav-search search-field"
                type="text"
                placeholder="Rechercher"
                aria-label="Search"
                name="q"
                autocomplete="off"
                autofocus
                data-no-results-message="Aucun résultat"
        >
      </form>
      <ul class="navbar-nav p-0 m-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="material-icons">keyboard_arrow_left</i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">notifications</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="material-icons">email</i></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons">motorcycle</i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>