<nav class="bg-dark sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link {% if route == 'home' %}active{% endif %}" href="{{ path('home') }}">
                <i class="material-icons">home</i>
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if route == 'listingTaxref' %}active{% endif %}" href="{{ path('listingTaxref') }}">
                <i class="material-icons">view_list</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if route == 'listingObservations' %}active{% endif %}" href="{{ path('listingObservations') }}">
                <i class="material-icons">person</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if route == 'contact' %}active{% endif %}" href="{{ path('contact') }}">
                <i class="material-icons">email</i>
            </a>
        </li>
    </ul>
</nav>
