

<h1>merci pour votre inscription</h1>

<p>votre code de confirmation : <a href="http://localhost:8000/test/form/comfirmMail?username={{ user.getUsername() }}&token={{ user.getAuth().getComfirmedToken() }}"></a>http://localhost:8000/test/form/comfirmMail?username={{ user.getUsername() }}&token={{ user.getAuth().getComfirmedToken() }}</p>