
<h1>Nos Amis les Oiseaux</h1>
<h2>Ce message à été envoyé via la rubrique contact de votre site</h2>

<p>L'utilisateur {{ formData['username']}} vous a envoyé un message <p>

<p>Adresse email: {{ formData['mail'] }}</p>


<p>{{ formData['message']}}</p>

<h3><a href="http://www.openclass-p5.ovh/">www.nos_amis_les_oiseaux.org</a></h3>