<h1>Nos Amis les Animaux</h1>
<h2>Réinitialisation de votre mot de passe</h2>

<p>Bonjour,
Vous recevez cet e-mail car vous avez demandé à changer de mot de passe sur <a href="www.openclass-p5.ovh">www.nos_amis_les_animaux.org</a><p>


<p>Pour le modifier, nous vous invitons à cliquer sur le lien ci-dessous : <a href="{{ app.request.getUri }}/test/form/resetPassword?token={{ user.getAuth().getResetToken() }}">{{ app.request.getUri }}/test/form/resetPassword?token={{ user.getAuth().getResetToken() }}</a>Si vous avez des difficultés pour activer ce lien, copier le et coller le directement dans la barre d'adresse de votre navigateur.</p>

<h3>nos amis les animaux <a href="http://www.openclass-p5.ovh/">www.nos_amis_les_animaux.org</a></h3>