<section class="add-obs">
    <a data-toggle="tooltip" data-placement="top" title="Ajouter une observation" data-delay="400" class="btn btn-secondary btn-round d-inline-flex flex-column justify-content-center" href="{{ path('admin_observation_new') }}">
      <svg class="nav-icons text-white" >
          <use xlink:href="{{ asset('images/icons/sprite.svg#addObs')}}">
      </svg>
    </a>
</section>