<section class="add-obs">
    <a data-toggle="tooltip" data-placement="top" title="Ajouter une observation" data-delay="400" class="btn btn-secondary btn-round d-inline-flex flex-column justify-content-center" href="{{ path('admin_observation_new') }}">
      <i  class="fa fa-plus text-white position-absolute align-self-end"
          style="font-size:11px;margin-top:-17px;margin-right:-8px;">
      </i>
      <svg class="nav-icons text-white" >
          <use xlink:href="{{ asset('images/icons/sprite.svg#addObs')}}">
      </svg>
    </a>
</section>