{% extends "base.html.twig" %}

{% block title %}Accueil - {{parent()}}{% endblock %}
{% block body_id route %}
{% block main_id %}main_{{route}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block mainLeft %}
<div id="main-left" class="col-lg-8 col-xl-9 px-sm-0">
    <div class="d-flex">
        <div class="container mt-auto mb-auto">
            <h1 class="text-white display-3">Bienvenue</h1>
            <p class="text-primary lead">sur la page d'accueil</p>
        </div>
    </div>
</div>
{% endblock %}

{% block mainRight %}
    <div id="main-right" class="col-lg-4 col-xl-3">
        <div class="container">
            <div class="d-inline-flex flex-column justify-content-center" style="height:calc(100vh - 56px);">
                    {{ include('components/cards/accueil.html.twig', {
                        title: 'Ornidex',
                        subtitle: 'Le référentiel taxonomique taxref',
                        description: "Découvrez l'ensemble des oiseaux référencé par la taxref",
                        icon: 'dove'
                    }) }}
                    {{ include("components/cards/accueil.html.twig",{
                        title: 'Observations',
                        subtitle: 'Les observations de tous nos membres',
                        description: "Découvrez l'ensemble des oiseaux observé par notre communauté",
                        icon: 'obs'
                    }) }}
            </div>
        </div>
    </div>
{% endblock %}
