// Contents
//
// Navbar nav


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  @extend .navbar-nav;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-right: -1rem;

  .nav-item {
    height: 56px;
    width: 56px;
  }
  .nav-link {
    border-radius: 0;
    line-height: calc(56px - 16px);
    text-align: center;
  }

}