/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.main {
  width: calc(100vw - 56px);
  margin-right: auto;
  margin-left: 56px;
}

.markerImg {
  border-radius:25px;
}
// Background
//
// Custom background img

#main_home:before {
  content: '';
  background: url('../images/home-sm.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position:fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
  // breakpoint(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  @include media-breakpoint-only(sm) {
    background-image: url('../images/home-md.jpg');
  }
  @include media-breakpoint-only(md) {
    background-image: url('../images/home-md.jpg');
  }
  @include media-breakpoint-only(lg) {
    background-image: url('../images/home-lg.jpg');
  }
  @include media-breakpoint-only(xl) {
    background-image: url('../images/home-xl.jpg');
  }
}
#main_taxref_index:before,
#main_observation_index:before,
{
  content: '';
  background: url('../images/listing-sm.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position:fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
  // breakpoint(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  @include media-breakpoint-only(sm) {
    background-image: url('../images/listing-md.jpg');
  }
  @include media-breakpoint-only(md) {
    background-image: url('../images/listing-md.jpg');
  }
  @include media-breakpoint-only(lg) {
    background-image: url('../images/listing-lg.jpg');
  }
  @include media-breakpoint-only(xl) {
    background-image: url('../images/listing-xl.jpg');
  }
}
#main_lostPassword:before,
#main_resetPassword:before,
#main_contact:before {
  content: '';
  background: url('../images/contact-sm.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position:fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
  // breakpoint(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  @include media-breakpoint-only(sm) {
    background-image: url('../images/contact-md.jpg');
  }
  @include media-breakpoint-only(md) {
    background-image: url('../images/contact-md.jpg');
  }
  @include media-breakpoint-only(lg) {
    background-image: url('../images/contact-lg.jpg');
  }
  @include media-breakpoint-only(xl) {
    background-image: url('../images/contact-xl.jpg');
  }
}
#main_signUp:before,
#main_login:before {
  content: '';
  background: url('../images/login-sm.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position:fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
  // breakpoint(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  @include media-breakpoint-only(sm) {
    background-image: url('../images/login-md.jpg');
  }
  @include media-breakpoint-only(md) {
    background-image: url('../images/login-md.jpg');
  }
  @include media-breakpoint-only(lg) {
    background-image: url('../images/login-lg.jpg');
  }
  @include media-breakpoint-only(xl) {
    background-image: url('../images/login-xl.jpg');
  }
}

#main_admin_user_notifications:before,
#main_edit_profil:before,
#main_admin_home:before,
#main_admin_observation_index:before
{
  content: '';
  background: url('../images/admin-sm.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position:fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
  // breakpoint(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
  @include media-breakpoint-only(sm) {
    background-image: url('../images/admin-md.jpg');
  }
  @include media-breakpoint-only(md) {
    background-image: url('../images/admin-md.jpg');
  }
  @include media-breakpoint-only(lg) {
    background-image: url('../images/admin-lg.jpg');
  }
  @include media-breakpoint-only(xl) {
    background-image: url('../images/admin-xl.jpg');
  }
}


.main-row {
  @include media-breakpoint-up(lg) {
    min-height:calc(100vh - 56px);
  }
}

#main_home #main-left > div,
#main_contact #main-left > div,
#main_lostPassword #main-left > div,
#main_resetPassword #main-left > div,
#main_signUp #main-left > div,
#main_login #main-left > div,
#main_taxref_index #main-left > div,
#main_observation_index #main-left > div,
#main_mentionsLegales #main-left > div,
#main_conditionsGenerales #main-left > div,
#main_error #main-left > div
{
  @include media-breakpoint-up(lg) {
    position:fixed;
    top: 56px;
    bottom: 0;
    @include make-col(4,12);
    @include make-row();
  }

  @include media-breakpoint-up(xl) {
    @include make-col(3,12);
    @include make-row();
  }
}
// MAP
//
// Custom map api
#map {
  height: calc(100%);
  min-height: 600px;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
  background:$danger;
  position: relative;
  top: -50px;
  left: 10px;
 }

 // SEARCH
 //
 // Custom css for search results
 #resultsTaxref {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 56px;
  right: 0px;
  max-height:350px;
  background: rgba(0, 0, 0, 0.65);
  overflow-x: scroll;
  display:flex;
  width: auto;
 }
 // ADD OBS BUTTON
 //
 // Custom css for search results
 .add-obs {
   position: fixed;
   right: 10px;
   bottom: 10px;
   z-index: 1030;

   @include media-breakpoint-up(lg) {
      right: 20px;
      bottom: 20px;
    }
    .btn {
      margin:0;
      padding:10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
    }
  }
 // TUNNEL OBS BUTTON
 //
 // Custom css for search results
 .tunnel-obs {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  width:100%;
  .btn {
    width: auto;
    &.back {
      padding: 10px 14px;
    }
  }
  // LOGIN
  //
  // custon css for login
  .main-login-form-div {
    margin-top: 3rem;
  }

 }
  // MATERIAL ICONS
  //
  // custon size for icons
 .material-icons.md-60 { font-size: 60px; }



// CHECKBOX TEST


.form-check {
  padding-left: 20px;
}

.form-check label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.form-check label::before :not(notThisOne) {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.form-check label::after :not(notThisOne) {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.form-check input[type="checkbox"] :not(notThisOne) {
  opacity: 0;
}

.form-check input[type="checkbox"]:focus ~ label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-check input[type="checkbox"]:checked ~ label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.form-check input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.form-check input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.form-check input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}








