/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
.main {
  width: 100%;
  margin-right: auto;
  margin-left: 3.5rem;
}

.markerImg {
  border-radius:25px;
}
// Background
//
// Custom background img

#home:before {
  content: '';
  background: url('../images/home.jpg') no-repeat right bottom fixed ;
  background-size: cover;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
}
#listingTaxref:before,
#listingObservation:before,
{
  content: '';
  background: url('../images/listing.jpg') no-repeat center fixed ;
  background-size: cover;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
}
#contact:before {
  content: '';
  background: url('../images/contact.jpg') no-repeat center fixed ;
  background-size: cover;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
}
#login:before {
  content: '';
  background: url('../images/login.jpg') no-repeat center fixed;
  position: fixed;
  background-size: cover;
  -webkit-filter: brightness(50%);
     -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
       -o-filter: brightness(50%);
          filter: brightness(50%);
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: -1;
}
/* Ratio exact */
@media (aspect-ratio: 3/2) {
  #login:before {
    background: url('../images/3_2/login.jpg') no-repeat center fixed ;
  }
}
@media (aspect-ratio: 4/3) {
  #login:before {
    background: url('../images/4_3/login.jpg') no-repeat center fixed ;
  }
}
@media (aspect-ratio: 16/9) {
  #login:before {
    background: url('../images/16_9/login.jpg') no-repeat center fixed ;
  }
}
@media (aspect-ratio: 16/10) {
  #login:before {
    background: url('../images/16_9/login.jpg') no-repeat center fixed ;
  }
}

.main-row {
  @include media-breakpoint-up(lg) {
    min-height:calc(100vh - 56px);
  }
}

#home #main-left > div,
#contact #main-left > div,
#main_taxref_index #main-left > div
#main_observation_index #main-left > div
{
  @include media-breakpoint-up(lg) {
    position:fixed;
    top: 56px;
    bottom: 0;
  }
}
// MAP
//
// Custom map api
#map {
  height: calc(100%);
  min-height: 600px;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
  background:$danger;
  position: relative;
  top: -50px;
  left: 10px;
 }