{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} <!-- 'novalidate' to test form validations -->
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Suivant</button>
{{ form_end(form) }}
