{% extends "base.html.twig" %}

{% block title %}Test Login - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block mainTitle %}
<div class="container mt-auto mb-auto">
    <h1 class="text-white display-3">Login</h1>
    <p class="text-primary lead">Connectez vous</p>
</div>
{% endblock %}

{% block mainContent %}
{{ include('test/form.html.twig') }}
{% endblock %}
