{% extends "base.html.twig" %}

{% block title %}Test Login - {{parent()}}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block mainTitle %}
<div class="container mt-auto mb-auto">
    <h1 class="text-white display-3">{{message[0]}}</h1>
    <p class="text-primary lead">{{message[1]}}</p>
</div>
{% endblock %}

{% block mainContent %}


{% endblock %}
