<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
    </head>
    <style>
        svg.logo {
            fill:#fff;
            color:#fff;
        }
    </style>
    <body>

        {{ include('partials/horizontalNav.html.twig') }}
        <div class="container-fluid">
            <div class="row">
                {{ include('partials/verticalNav.html.twig') }}
                <main role="main" class="main">
                    <div class="container-fluid">
                        <div class="row" style="min-height:calc(100vh - 56px);">
                            <div class="col-sm-3 align-self-center">
                                {% block mainTitle %}{% endblock %}
                            </div>
                            <div class="col">
                                {% block mainContent %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/js/app.js')}}"></script>
    </body>
</html>
