<div class="d-flex flex-column detail-description">
    <h3 class="title">Commentaire</h3>
    <div class="content d-flex">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorem nemo itaque atque odio minus consectetur natus neque nobis, velit quibusdam deserunt enim vitae error suscipit aspernatur molestias inventore quod?</p>
    </div>
    <h3 class="title">Caractéristiques observées</h3>
    <div class="content row align-items-start">
        <h4 class="subtitle col-4">Où était l'oiseau</h4>
        <p class=" pl-3 m-0 col-8">Sur un arbre</p>
      <h4 class="subtitle col-4">Taille</h4>
      <p class=" pl-3 m-0 col-8">Grand</p>
      <h4 class="subtitle col-4">Couleur principale</h4>
      <p class=" pl-3 m-0 col-8">Brun</p>
      <h4 class="subtitle col-4">Nombre observé</h4>
      <p class=" pl-3 m-0 col-8">8</p>
    </div>

    <a class="btn btn-primary mt-5" href="{{ path('showTaxref', {slug: post.slug}) }}" role="button">Découvrir l'ensemble des observations de l'oiseau</a>
  </div>