<div class="d-flex flex-column detail-description">
    <h3 class="title">Descrription</h3>
    <div class="content d-flex">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorem nemo itaque atque odio minus consectetur natus neque nobis, velit quibusdam deserunt enim vitae error suscipit aspernatur molestias inventore quod?</p>
    </div>
    <h3 class="title">Comment reconnaitre l'oiseau</h3>
    <div class="content d-flex">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorem nemo itaque atque odio minus consectetur natus neque nobis, velit quibusdam deserunt enim vitae error suscipit aspernatur molestias inventore quod?</p>
    </div>
    <h3 class="title">Oû avoir le plus de chance d'observer l'oiseau</h3>
    <div class="content d-flex">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorem nemo itaque atque odio minus consectetur natus neque nobis, velit quibusdam deserunt enim vitae error suscipit aspernatur molestias inventore quod?</p>
    </div>
  </div>